*{
    width: 0;
    height: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(71, 64, 64);
    align-items: center;
}
.box{
    width: 70px;
    height: 30px;
    background-color: wheat;
    display: flex;
    color: skyblue;
    border: none;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
     /* Adding transitions */
    /* transition-timing-function: ease;
    transition-property: margin background-color;
    transition-duration: 0.7s;
    transition-delay: 0.0s; */

    transition: all 0.3s;

}
.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    /* padding: 12px; */
    transition: all 0.5s ease;
}

button{
    width: 70px;
    height: 30px;
    background-color: wheat;
    color: skyblue;
    border: 1px solid white;
    border-radius: 5px;

}
.box:hover{
    margin-top: 2rem;
    background-color: teal;
    color: white;
}
.box2:hover{
    /* margin-top: 2rem; */
    height: 100px;
    width: 100px;
    background-color: teal;
    color: white;
    border-radius: 50%;
}
/*  */